:root{
    --dark-purp:     #8256A3; /*(130, 86, 163)*/
    --darker-purp:   #654280; /*(101, 66, 128)*/
    --light-purp:    #C1ABD1; /*(193, 171, 209)*/
    --dark-green:    #77A356; /*(119, 163, 86)*/
    --light-green:   #DDE8D5; /*(221, 232, 213)*/
    --dark-brick:    #A35B56; /*(163, 91, 86)*/
    --dark-teal:     #569EA3; /*(86, 158, 163)*/
    --lmcx-green:    #9BCE7B;
}

.bg-dark-purp {
    background-color: var(--dark-purp) !important;
}
.bg-light-purp {
    background-color: var(--light-purp) !important;
}
.bg-dark-green {
    background-color: var(--dark-green) !important;
}
.bg-light-green {
    background-color: var(--light-green) !important;
}
.bg-dark-brick {
    background-color: var(--dark-brick) !important;
}
.bg-dark-teal {
    background-color: var(--dark-teal) !important;
}
.text-dark-purp {
    color: var(--dark-purp) !important;
}
.text-light-purp {
    color: var(--light-purp) !important;
}
.text-dark-green {
    color: var(--dark-green) !important;
}
.text-light-green {
    color: var(--light-green) !important;
}
.text-dark-brick {
    color: var(--dark-brick) !important;
}
.text-dark-teal {
    color: var(--dark-teal) !important;
}
.nav-link {
    color: var(--light-green) !important;
}
.nav-link:hover {
    color: var(--lmcx-green) !important;
}
.bg-image {
    background-image: url("/static/images/LMCX-purple-bg-1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center top;
}
.btn-purp {
    background-color: var(--dark-purp) !important;
    color: white !important;
    border-color: var(--darker-purp) !important;
}
.btn-purp:hover {
        background-color: var(--darker-purp) !important;
        color: var(--light-green) !important;
        border-color: var(--darker-purp) !important;
    }
.btn-purp:focus {
        background-color: var(--darker-purp) !important;
        color: var(--light-green) !important;
        border-color: var(--darker-purp) !important;
    }


.carousel-caption-top {
    top: 10%;
    bottom: auto;
}

.carousel-card {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .carousel-card {
        width: 50%;
    }
}