{% extends "base.html" %}
{% block title %}LMCX - About{% endblock title %}
{% block content %}
    <div class="row pt-3 align-items-center">
        <div class="col-lg-6 px-3 pb-3">
            <p>
                <b>Lower Mainland Cyclocross</b> is a grassroots cycling organization committed to building 
                an inclusive, accessible, and exciting cyclocross community across the Vancouver area. 
                Our mission is to spark enthusiasm for the sport by supporting riders of all ages and 
                skill levels, uniting local race organizers, and promoting events through clear, 
                centralized communication.
            </p>
        </div>
        <div class="col-lg-6 px-3">
            <img src="/static/images/about-photo-start.jpg" class="d-block mx-auto about-photo" alt="Start of a cyclocross race">
        </div>
    </div>
    <div class="row pt-3 align-items-center">
        <div class="col-lg-6 px-3">
            <img src="/static/images/about-photo-costumes.jpg" class="d-block mx-auto about-photo" alt="Cyclocross riders in colorful costumes">
        </div>
        <div class="col-lg-6 p-3 mb-5">
            <p>
                <b>What is Cyclocross?</b>
                <br>
                Cyclocross races are characterized by mixed terrain (grass, mud, sand…) and are typically 
                held in the fall season. Races are short and punchy, lasting between 30-60 minutes, where 
                riders navigate changing surface types, tight turns and various obstacles (barriers, stairs) 
                along the course.
                <br>
                <b>Why try Racing?</b>
                <br>
                Community is a big part of what makes cyclocross racing so fun! Yes, some racers are competitive 
                but many are here to simply play around on bikes, try something new and (lovingly) heckle their 
                fellow riders. Since racers complete multiple laps of a short course, events are 
                spectator-friendly and the perfect opportunity to make a new friend before or after your category.
                <br>
                Cyclocross is guaranteed to level up your bike handling skills as you’ll be practicing keeping 
                control of the bike on bumpy or slippery surfaces. You’ll be able to carry these skills over into 
                your future riding, whether that’s on the road or trails.
                <br>
                Every event features multiple race categories based on ability level and/or age, so there’s 
                always someone to compete with. But you don’t need a competitive attitude to have a good time! 
                Just show up, ride your bike, and maybe grab a beer with us at the LMCX tent!
                <br>
                <b>What do I need to get started?</b>
                <ol>
                    <li><b>Bike:</b> Although there are cyclocross-specific bikes, you don’t need anything super 
                        specialized right away. Any bike that you’re comfortable riding on grass, gravel or mud 
                        will work just fine. If you’re racing in our <i>Launch</i> category, a hybrid bike, 
                        commuter or even a mountain bike is enough to get you started. As long as it doesn’t 
                        have a motor, it’s allowed! <b>It is highly recommended to use tires that are at least 
                        700x33 wide, and you’ll want some tread on them.</b> Remember that a heavier bike will 
                        be more challenging to lift over obstacles, so you’ll want to remove any pannier racks, 
                        fenders or other accessories before race day.</li>
                    <li><b>Shoes:</b> Since cyclocross typically involves some running, road cycling shoes with 
                        the bulky 3-bolt cleats aren’t recommended. Mountain bike shoes with the smaller SPD-style 
                        cleats are ideal. If you don’t have those, running shoes and flat pedals work great too.</li>
                    <li><b>Helmet:</b> Do we have to explain this one?</li>
                    <li><b>Confidence:</b> We’ll be hosting some practice sessions throughout the summer and early 
                        fall. We’d love to help you learn some basic cross skills and set you up for success in 
                        your first race. Check out our Events page or follow us on Instagram to know more.</li>
                </ol>
            </p>
        </div>
    </div>
    <div class="row pt-3 align-items-center">
        <div class="col-lg-6 p-3 mb-5">
            <p>
                <b>KinderCross</b> is back for another season! This is a <b>free</b> activity, geared towards riders 
                ages 2-8 and runs alongside our main race series. KinderCross participants get the opportunity to 
                race on a fully separate kiddie course, or on a shortened section of the main course. This is an 
                initiative designed to introduce young riders—especially those from underrepresented age groups and 
                communities—to the joy of cyclocross in a fun, welcoming environment. By fostering connection, 
                participation, and diversity within the sport, Lower Mainland Cyclocross aims to make cycling more 
                than just a race—it’s a community.
                <br>
                <br>
                Older kids are encouraged to race on the main course, either in the <i>Launch</i> group or in their 
                appropriate age category: U13, U15, U17 or U19. <b>Thanks to a generous grant from Cycling Canada, our 
                youth racers will race free all season in 2026!</b>
            </p>
        </div>
        <div class="col-lg-6 px-3">
            <img src="/static/images/about-photo-kids.jpg" class="d-block mx-auto about-photo" alt="Little kids navigating bikes off road">
        </div>
    </div>
    <div class="row pt-3 align-items-center">
        <div class="col-lg-6 px-3">
            <img src="/static/images/about-photo-barriers.jpg" class="d-block mx-auto about-photo" alt="Cyclocross riders jumping over the barriers">
        </div>
        <div class="col-lg-6 p-3 mb-5">
            <p>
                We encourage you to come to a Wednesday night practice to learn more, or attend a cyclocross clinic, 
                or just sign up and show up!  Then hang around, and cheer on your friends or kids at the KinderCross race.
                <br>
                <br>
                <b>Follow the links in the Events tab for more specific information for each race in the lower mainland.  
                Click the "Hear from Us" link below to sign up for our newsletter and/or follow us on social media.</b>
            </p>
        </div>
    </div>

{% endblock content %}