{% extends "base.html" %}
{% block title %}LMCX - About{% endblock title %}
{% block content %}
    <div class="row pt-3 align-items-center">
        <div class="col-lg-4 px-3 pb-3">
            <span class="fs-3">
                <b>Lower Mainland Cyclocross</b> is a grassroots cycling organization committed to building 
                an inclusive, accessible, and exciting cyclocross community across the Vancouver area. 
                Our mission is to spark enthusiasm for the sport by supporting riders of all ages and 
                skill levels, uniting local race organizers, and promoting events through clear, 
                centralized communication.
            </span>
        </div>
        <div class="col-lg-8 px-3">
            <img src="/static/images/about-photo-start.jpg" class="shadow-lg rounded float-end img-fluid" alt="Start of a cyclocross race">
        </div>
    </div>
    <div class="row pt-3 align-items-center">
        <div class="col-lg-8 px-3">
            <img src="/static/images/about-photo-kids.jpg" class="shadow-lg rounded float-start img-fluid" alt="Little kids navigating bikes off road">
        </div>
        <div class="col-lg-4 p-3 mb-5">
            <span class="fs-3">
                In 2025, we’re proud to relaunch our little kids race series, <b>KinderCross</b>! This is an  
                initiative designed to introduce young riders—especially those from underrepresented age groups and 
                communities—to the joy of cyclocross in a fun, welcoming environment. By fostering connection, 
                participation, and diversity within the sport, Lower Mainland Cyclocross aims to make cycling 
                more than just a race—it’s a community.
            </span>
        </div>
    </div>

{% endblock content %}