{% extends "base.html" %}
{% block title %}LMCX - Contact{% endblock title %}
{% block content %}
<h1>Contact Us</h1>
<p>If you have any questions or need any further information, please reach out!</p>
<p>You can contact us via email at: <a href="mailto:LMcyclocross@gmail.com" class="text-dark-purp" target="_blank" rel="noopener noreferrer">LMcyclocross@gmail.com</a></p>
<p>You can also find us on social media: <a href="https://www.instagram.com/lm__cx/" class="text-dark-purp" target="_blank" rel="noopener noreferrer">@LM__CX</a></p>
<p>We look forward to hearing from you!</p>
{% endblock content %}