{% load static %}
<nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark-purp">
    <div class="container-fluid">
        <div class="row w-100">
            <div class="col-12 col-md-2 d-flex align-items-center justify-content-start mb-1 mb-md-0">
                <h3 class="text-light-green text-start w-100 mb-0 footer-text">
                    <a href="mailto:LMcyclocross@gmail.com" class="nav-link text-light-green text-decoration-none d-inline" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-envelope-paper"></i> Contact Us 
                    </a>
                </h3>
            </div>
            <div class="col-12 col-md-2 d-flex align-items-center justify-content-start mb-1 mb-md-0">
                <h3 class="text-light-green text-start w-100 mb-0 footer-text">
                    <a class="nav-link text-light-green text-decoration-none d-inline" href="https://www.instagram.com/lm__cx/">
                        <i class="bi bi-instagram"></i> Follow Us
                    </a>
                </h3>
            </div>
            <div class="col-12 col-md-2 d-flex align-items-center justify-content-start mb-1 mb-md-0">
                <h3 class="text-light-green text-start w-100 mb-0 footer-text">
                    <button type="button" class="btn btn-link nav-link text-light-green text-decoration-none d-inline" data-bs-toggle="modal" data-bs-target="#newsletter">
                        <i class="bi bi-mailbox-flag"></i> Hear from Us
                    </button>
                </h3>
            </div>
            <div class="d-none d-md-flex col-12 col-md-3 align-items-center justify-content-start justify-content-md-end">
                <h3 class="text-light-green mb-0 footer-text">With Support From:</h3>
                <a href=https://www.filipfunk.com/ target="_blank" rel="noopener noreferrer">
                    <img src="{% static 'images/filipfunkphoto_logo_green.svg' %}" alt="Filip Funk Logo" class="footer-logo">
                </a>
            </div>
        </div>
    </div>
</nav>



