{% load static %}
<nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark-purp">
    <div class="container-fluid">
        <div class="row w-100">
            <div class="col-12 col-md-2 d-flex align-items-center justify-content-start mb-1 mb-md-0">
                <h3 class="text-light-green text-start w-100 mb-0 footer-text">
                    <a href="mailto:LMcyclocross@gmail.com" class="nav-link text-light-green text-decoration-none d-inline" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-envelope-paper"></i> Contact Us 
                    </a>
                </h3>
            </div>
            <div class="col-12 col-md-2 d-flex align-items-center justify-content-start mb-1 mb-md-0">
                <h3 class="text-light-green text-start w-100 mb-0 footer-text">
                    <a class="nav-link text-light-green text-decoration-none d-inline" href="https://www.instagram.com/lm__cx/">
                        <i class="bi bi-instagram"></i> Follow Us
                    </a>
                </h3>
            </div>
            <div class="col-12 col-md-2 d-flex align-items-center justify-content-start mb-1 mb-md-0">
                <h3 class="text-light-green text-start w-100 mb-0 footer-text">
                    <button type="button" class="btn btn-link nav-link text-light-green text-decoration-none d-inline" data-bs-toggle="modal" data-bs-target="#newsletterModal">
                        <i class="bi bi-mailbox-flag"></i> Hear from Us
                    </button>
                </h3>
            </div>
            <div class="d-none d-md-flex col-12 col-md-6 align-items-center justify-content-start justify-content-md-end">
                <h3 class="text-light-green mb-0 footer-text">With Support From:</h3>
                <a href=https://www.filipfunk.com/ target="_blank" rel="noopener noreferrer">
                    <img src="{% static 'images/filipfunkphoto_logo_green.svg' %}" alt="Filip Funk Logo" class="footer-logo">
                </a>
            </div>
        </div>
    </div>
</nav>

<!-- Newsletter Modal -->
<div class="modal fade" id="newsletterModal" tabindex="-1" aria-labelledby="newsletterLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-dark-purp">
                <h2 class="modal-title text-light-green" id="newsletterLabel">Subscribe to our Newsletter!</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="mc_embed_signup">
                    <form action="https://lmcx.us1.list-manage.com/subscribe/post?u=8d7b5c686c256b1d8add18ba6&amp;id=ef6a793680&amp;f_id=00436ee2f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                    <div id="mc_embed_signup_scroll">
                        <h2>Stay up to date with LMCX</h2>
                        <div class="mc-field-group">
                            <label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label>
                            <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value="">
                        </div>
                        <div id="mce-responses" class="clear foot">
                            <div class="response" id="mce-error-response" style="display: none;"></div>
                            <div class="response" id="mce-success-response" style="display: none;"></div>
                        </div>
                        <div aria-hidden="true" style="position: absolute; left: -5000px;">
                            /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                            <input type="text" name="b_8d7b5c686c256b1d8add18ba6_ef6a793680" tabindex="-1" value="">
                        </div>
                        <div class="optionalParent">
                            <div class="clear foot">
                                <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                            </div>
                        </div>
                        <div class="indicates-required">
                            <span class="asterisk">*</span> required
                        </div>
                    </div>
                    </form>
                </div>
                <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
                <script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
            </div>
        </div>
    </div>
</div>
