{% extends "base.html" %}
{% block title %}LMCX{% endblock title %}
{% block content %}
{% load static %}
<div class="row">
    <div class="col-lg-12">
        <div id="carouselControls" class="carousel slide carousel-mobile-height" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for event in events_list %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    {% if event.main_image %}
                        <img src="{{ event.main_image.url }}" class="w-100" alt="{{ event.title }}">
                    {% else %}
                        <img src="{% static 'images/lmcx-default-event-photo.png' %}" class="w-100" alt="Default Event Image">
                    {% endif %}
                        <div class="carousel-caption d-block carousel-caption-top">
                            <div class="card bg-white bg-opacity-75 carousel-card mx-auto">
                                <div class="card-body p-3">
                                    <h3 class="card-title text-dark-purp mb-2">Join Us At our Upcoming Events</h3>
                                    <h4 class="card-title text-dark-purp mb-2">{{ event.title }}</h4>
                                    <p class="card-text text-dark-purp mb-1">{{ event.date|date:"F j, Y" }}</p>
                                    <p class="card-text text-dark-purp mb-1">{{ event.description|truncatewords:12|safe }}</p>
                                    <a href="{% url 'events:detail' event.id %}" class="btn btn-purp">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        </div>
    </div>
</div>
{% endblock content %}