{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark-purp">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/LMCX-square-green.svg' %}" alt="LMCX Logo" width="100" height="100">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}"><h3>Home</h3></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dowpdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <h3>Events</h3>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'events_list_by_type' "wncxp" %}">WNCXP</a></li>
                        <li><a class="dropdown-item" href="{% url 'events_list_by_type' "clinic" %}">Women+ Clinic</a></li>
                        <li><a class="dropdown-item" href="{% url 'events_list_by_type' "races" %}">LM Races</a></li>
                        <li><a class="dropdown-item" href="{% url 'events_list_by_type' "kiddie" %}">Kiddie Cross</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'announcements_list' %}"><h3>Announcements</h3></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'results' %}"><h3>Results</h3></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'photos' %}"><h3>Photos</h3></a> 
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'sponsors' %}"><h3>Sponsors</h3></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}"><h3>Contact</h3></a>
                </li>
            </ul>
        </div>
    </div>
</nav>