{% extends "base.html" %}
{% load static %}
{% block title %}LMCX - Partners{% endblock title %}
{% block content %}
<div class="row ps-3 pt-3">
    <div class="col-lg-12">
        <h1 class="text-dark-purp">LMCX Community Partners</h1>
        <p>Our events would not be possible without the support of our community partners. We thank them for their continued efforts to keep cyclocross going and growing!</p>
    </div>
<div class="row py-3">
    <div class="col-lg-3 col-sm-6 partner-cell">
        <a href="https://www.filipfunk.com/" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'images/filipfunkphoto_Logo_Transparent.png' %}" alt="Filip Funk Logo" class="partner-logo">
        </a>
    </div>
    <div class="col-lg-3 col-sm-6 partner-cell">
        <a href="https://7mesh.com/" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'images/7mesh.svg' %}" alt="7Mesh Logo" class="partner-logo">
        </a>
    </div>
    <div class="col-lg-3 col-sm-6 partner-cell">
        <a href="https://eastoncycling.ca/" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'images/easton.svg' %}" alt="Easton Cycling Logo" class="partner-logo">
        </a>
    </div>
    <div class="col-lg-3 col-sm-6 partner-cell">
        <a href="https://forecastcoffee.ca/" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'images/forecast-coffee-stack.svg' %}" alt="Forecast Coffee Logo" class="partner-logo">
        </a>
    </div>
</div>
<div class="row py-3">
    <div class="col-lg-3 col-sm-6 partner-cell">
        <img src="{% static 'images/funded-by-canada.svg' %}" alt="Funded by Canada Logo" class="partner-logo">
    </div>
    <div class="col-lg-3 col-sm-6 partner-cell">
        <a href="https://www.giant-bicycles.com/ca" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'images/giant-bicycles.svg' %}" alt="Giant Logo" class="partner-logo">
        </a>
    </div>
    <div class="col-lg-3 col-sm-6 partner-cell">
        <a href="https://hoponcanada.ca/" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'images/hopon.svg' %}" alt="Hop On Canada Logo" class="partner-logo">
        </a>
    </div>
    <div class="col-lg-3 col-sm-6 partner-cell">
        <a href="https://jakroo.com/home/ca?lang=en&currency=cad" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'images/jakroo.svg' %}" alt="Jakroo Logo" class="partner-logo">
        </a>
    </div>
</div>
<div class="row py-3">
    <div class="col-lg-3 col-sm-6 partner-cell">
        <a href="https://www.mightyriders.ca/" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'images/mighty.svg' %}" alt="Mighty Riders Logo" class="partner-logo">
        </a>
    </div>
    <div class="col-lg-3 col-sm-6">
        <a href="https://www.samsara-cycle.com/" target="_blank" rel="noopener noreferrer">
            <span class="partner-logo samsara-logo" role="img" aria-label="Samsara Cycle Logo"></span>
        </a>
    </div>
    <div class="col-lg-3 col-sm-6 partner-cell">
        <a href="https://www.unitedstrangerscoffee.com/" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'images/united-strangers.svg' %}" alt="United Strangers Coffee Logo" class="partner-logo">
        </a>
    </div>
    <div class="col-lg-3 col-sm-6 partner-cell">
    </div>
{% endblock %}